**.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

__pycache__/

**/tmp.js
**/report.html
**/security_hooks.js
**/tmp-sec.js

**/IAAST_*.html
